* {
  font-size: 32px;
  background-color: black;
}

#b1 {
  background-color: pink;
}
#b2 {
  background-color: blueviolet;
}

#b3 {
  background-color: brown;
}

#b4 {
  background-color: white;
}

#b5 {
  background-color: green;
}

#b6 {
  background-color: blue;
}
